.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 600px;
    height: auto;
    min-height: 60px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px grey;
    margin: 40px auto 40px;
    padding: 20px;
}



.form-control {
    margin-top: 9px;
    margin-bottom: 12px;
}

@media screen and (max-width: 768px) { 
    .form-container {
        width: 360px;
    }
}