.data-list-conteiner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 600px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 3px grey;
    margin: 40px auto;
    padding: 20px;

}


.data-list-conteiner-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin-top: 20px;

}

.data-list-conteiner-info-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px;
}

.data-list-conteiner-info-button {
    background-color: rgb(229, 229, 229);
    border: 1px solid rgb(155, 155, 155);
    border-radius: 4px;
    height: 22px;
}

.strikethrough {
    text-decoration: line-through;
    color: #999; /* Серый цвет для зачеркнутого текста */
  }

@media screen and (max-width: 768px) { 
    .data-list-conteiner {
        width: 360px;
    }
    
    .data-list-conteiner-info-buttons {
        gap: 10px;
    }

}

